name: "Update Changelog"

on:
  release:
    types: [ released ]

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Update Changelog
        uses: stefanzweifel/changelog-updater-action@v1
        with:
          latest-version: ${{ github.event.release.name }}
          release-notes: ${{ github.event.release.body }}

      - name: Commit Changelog
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: main
          file_pattern: CHANGELOG.md
          commit_message: "Update Changelog"
